*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav .logo{
  margin-left: 120px;
}
header{
  background-color:white; 
  background-repeat: no-repeat;
  max-width: 1600px;
  padding-top: 16px;
  vertical-align: middle;
}
.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
nav{
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}
nav .space{
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 50px;
}
.btn{
  background-color: #469165;
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-right: 120px;
}


#banner{
   background: url(image/assets/hero-bg.png),#e67575;
   background-attachment: fixed;
  
  max-width: 1600px;
  margin-top: 40px;
  height: 675px;
  text-align: center;
}

.top-button{
  background-color: white;
  border: none;
  border-radius: 15px;
  width: 230px;
  height: 35px;
  font-size: 16px;
  color: #469165;
  margin-top: 155px;
}
.banner-content h1{
  color: white;
  font-size: 72px;
  line-height: 84px;
}
.banner-content p{
  font-size: 18px;
  color: white;
  line-height: 24px;
  margin-bottom: 20px;
}
.bottom .btn1{
  background-color: #469165;
  border: none;
  padding: 8px 40px 16.5px 16px;
  width: 265px;
  height: 52px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-right: 120px;
}
.bottom button{
  background: transparent;
  border-color: white;
  border-radius: 5px;
  width: 195;
  height: 52px;
  padding: 16px 16px 16px 10px;
  color: white;
  font-size: 16px;
}


#notes{
  padding-top: 100px;
  max-width: 1360px;
  background-attachment: fixed;
}
#notes .notes-conteiner{
  max-width: 1360px;
  margin: 0 auto;
}
.notes-heading{
  margin: 0 auto;
  text-align: center;
}
.notes-heading p{
  margin-bottom: 44px;
}
#notes .notes-conteiner .notes-box{
  margin-left: 120px;
  display: flex;
  gap: 24px;

}
.notes-box .red-container{
  padding: 30px;
  box-shadow: 0 6px 40px 0 #b9b6b6;
  max-width: 322px;
  text-align: center;
}

.red-container img{
  width: 40px;
  margin-bottom: 20px;
}
.red-container h4{
  font-size: 24px;
  font-weight: 600;
  color: #181818;
  margin-bottom: 20px;
}
.red-container p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}

.last{
  max-width: 1360px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.last img{
  margin-left: 120px;
}
.text{
  margin-right: 120px;
  margin-left: 60px;
}
.last small{
  font-size: 16px;
  font-weight: 400px;
  color: #469165;
}
.last h2{
  font-size: 48px;
  font-weight: bold;
  width: 600px;
  height: 116px;
  margin-bottom: 16px;
}
.last p{
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px    ;
}
.last li{
  list-style-type: none;
  list-style-image: url(Vector\ \(1\).png);
  list-style-position: inside;
  
}
#about{
  padding-top: 120px;
}
.about-container{
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
  background-color: #F7F6F2;
  padding: 40px 80px;
}
.section-top h2{
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.section-top p{
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  width: 1280px;
  height: 48px;
}

.btn3 button{
  background-color: #469165;
  border: none;
  padding: 16px 12px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: auto 583px;
  margin-bottom: 16px;
}

.small small{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  
}







